spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${GOOGLE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

  cloud:
    aws:
      s3:
        bucket: ${BUCKET_NAME}
      stack:
        auto: false
      region:
        static: ap-northeast-2
      credentials:
        instance-profile: false
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create

payment:
  secret-key: ${TOSS_SECRET_KEY}
  base-url: ${TOSS_BASE_URL}
  confirm-endpoint: /confirm


jwt:
  secret: ${SECRET_KEY}

logging:
  file:
    name: app.log
  level:
    root: INFO

